@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Outfit:wght@300;400;600&display=swap');
@import "tailwindcss";

@theme {
  --font-display: 'Dancing Script', cursive;
  --font-body: 'Outfit', sans-serif;
}

:root {
  font-family: var(--font-body);
  background-color: #fff0f5; /* loose pink */
  color: #831843;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}
